$route-map-height: 24rem;
$trans: .5s ease;

$color-Gray: #616161;
$color-liteGray: #e0e0e0;

.tls-h24 {
  height: $route-map-height;
}
.tls-route-map {
  box-sizing: border-box;
  background-color: $color-liteGray;
}
.tls-route-warn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: $route-map-height;
  width: 100%;
  color: $color-Gray;
  font-size: $route-map-height / 12;
  opacity: 0;
  text-align: center;
  transition: color $trans, opacity $trans;
}
.tls-route-box {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.tls-drag-map {
  position: relative;
  display: block;
  top: 50%;
  left: 50%;
  cursor: grab;
  opacity: 0;
  transform: translate(-50%, -50%) !important;
  transition: opacity $trans, height $trans, width $trans;
}